.App {
  padding: 1em 1em;
  background-color: white;
}

@media screen and (min-width: 800px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em;
    width: 640px;
  }
}

img {
  max-width: 80%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  color: #333333;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
